@{
    List<string> animalEmoji = new List<string>()
    {
        "🦍","🦍",
        "🐴","🐴",
        "🐷","🐷",
        "🦊","🦊",
        "🐱","🐱",
        "🐯","🐯",
        "🐸","🐸",
        "🦬","🦬"
    };

    List<string> shuffledAnimals = new List<string>();

    Random random = new Random();
    shuffledAnimals = animalEmoji
        .OrderBy(item => random.Next())
        .ToList();
}

<!DOCTYPE html>
<html>
<head>
    <title>TSD2491 – Oblig1</title>
    <style>
        .container {
            width: 400px;
            margin: auto;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .col-3 {
            flex: 0 0 calc(25% - 10px);
            margin: 5px;
            text-align: center;
        }

        button {
            width: 100px;
            height: 100px;
            font-size: 50px;
        }
    </style>
</head>
<body>

    <div class="text-center">
        <h1>TSD2491 – Oblig1</h1>
    </div>

    <div class="container">
        <div class="row">
            @foreach (var animal in shuffledAnimals)
            {
                <div class="col-3">
                    <button type="button" class="btn btn-outline-dark">
                        <h1>@animal</h1>
                    </button>
                </div>
            }
        </div>
    </div>

</body>
</html>
