@{
    List<string> animalEmoji = new List<string>()
    {
        "🦍", "🦍",
        "🐴", "🐴",
        "🐷", "🐷",
        "🦊", "🦊",
        "🐱", "🐱",
        "🐯", "🐯",
        "🐸", "🐸",
        "🦬", "🦬"
    };

    List<string> foodEmoji = new List<string>()
    {
        "🍎", "🍎",
        "🍉", "🍉",
        "🍔", "🍔",
        "🍕", "🍕",
        "🍩", "🍩",
        "🍓", "🍓",
        "🍇", "🍇",
        "🥦", "🥦",
        "🥑", "🥑",
        "🍄", "🍄",
        "🥖", "🥖"
    };

    List<string> drinkEmoji = new List<string>()
    {
        "🍺", "🍺",
        "🍷", "🍷",
        "🍹", "🍹",
        "🍵", "🍵",
        "🥤", "🥤",
        "🍸", "🍸",
        "🍼", "🍼",
        "🥛", "🥛",
        "🍶", "🍶",
        "🍻", "🍻",
        "🧉", "🧉"
    };

    Random random = new Random();
    List<string> shuffledAnimals = animalEmoji.OrderBy(item => random.Next()).ToList();
    List<string> shuffledFood = foodEmoji.OrderBy(item => random.Next()).ToList();
    List<string> shuffledDrink = drinkEmoji.OrderBy(item => random.Next()).ToList();

    string lastAnimalFound = string.Empty;
    string lastDescription = string.Empty;
}

<!DOCTYPE html>
<html>
<head>
    <title>TSD2491 – Oblig1</title>
    <style>
        .container {
            width: 400px;
            margin: auto;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .col-3 {
            flex: 0 0 calc(25% - 10px);
            margin: 5px;
            text-align: center;
        }

        button {
            width: 100px;
            height: 100px;
            font-size: 50px;
        }
    </style>
</head>
<body>

    <div class="text-center">
        <h1>TSD2491 – Oblig1</h1>
        <label id="gameState">Press an icon to start</label>
    </div>

    <div>
        <input type="text" id="username" placeholder="Enter your name" />
        <button onclick="RegisterUser()">Register</button>
    </div>
    <ol id="userList"></ol>

    <div class="container">
        <h2>Animals</h2>
        <div class="row">
            @for (var animalNumber = 0; animalNumber < shuffledAnimals.Count; animalNumber++)
            {
                var animal = shuffledAnimals[animalNumber];
                var uniqueDescription = $"Animal #{animalNumber}";
                <div class="col-3">
                    <button onclick="ButtonClick('@animal', '@uniqueDescription')"
                            type="button" class="btn btn-outline-dark">
                        @animal
                    </button>
                </div>
            }
        </div>

        <h2>Food</h2>
        <div class="row">
            @for (var foodNumber = 0; foodNumber < shuffledFood.Count; foodNumber++)
            {
                var food = shuffledFood[foodNumber];
                var uniqueDescription = $"Food #{foodNumber}";
                <div class="col-3">
                    <button onclick="ButtonClick('@food', '@uniqueDescription')"
                            type="button" class="btn btn-outline-dark">
                        @food
                    </button>
                </div>
            }
        </div>

        <h2>Drinks</h2>
        <div class="row">
            @for (var drinkNumber = 0; drinkNumber < shuffledDrink.Count; drinkNumber++)
            {
                var drink = shuffledDrink[drinkNumber];
                var uniqueDescription = $"Drink #{drinkNumber}";
                <div class="col-3">
                    <button onclick="ButtonClick('@drink', '@uniqueDescription')"
                            type="button" class="btn btn-outline-dark">
                        @drink
                    </button>
                </div>
            }
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function RegisterUser() {
            var username = document.getElementById('username').value;
            if (username) {
                var userList = document.getElementById('userList');
                var newUser = document.createElement('li');
                newUser.innerText = username;
                userList.appendChild(newUser);
            }
        }

        function ButtonClick(animal, animalDescription) {
            document.getElementById('gameState').innerText = 'Game Running';

            if (window.lastAnimalFound === '') {
                window.lastAnimalFound = animal;
                window.lastDescription = animalDescription;
            }
            else if ((window.lastAnimalFound === animal) && (animalDescription !== window.lastDescription)) {
                window.lastAnimalFound = '';
                window.lastDescription = '';

                $('button:contains("' + animal + '")').parent().hide();

                if ($('.col-3:visible').length === 0) {
                    document.getElementById('gameState').innerText = 'Game Complete';
                    location.reload();
                }
            }
            else {
                window.lastAnimalFound = '';
                window.lastDescription = '';
            }
        }
    </script>
</body>
</html>
